{% extends 'base.html' %}

{% block title %}Отредактируйте свою учетнусь запись{% endblock %}

{% block content %}
    <h1>Отредактируйте свою учетную запись</h1>
    <p>Вы можете отредактировать свою учетную запись, используя следующую форму</p>
    <form method="post" action="." enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mb-3">Сохранить изменения</button>
    </form>
{% endblock %}