blog/__pycache__/*
.env.prod.db
.env.dev
.env.prod
mysite/__pycache__/*
**/__pycache__
*.pyc
.idea
*.log
*.pot
__pycache__/
local_settings.py
db.sqlite3
media
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/