{% extends 'blog/base.html' %}

{% block title %}Измените свой пароль{% endblock %}

{% block content %}
    <h1>Измените свой пароль</h1>
    <p>Используйте форму нижу, чтобы изменить свой пароль</p>
        <form method="post" action="." class="row g-3">
            <div class="mb-3">
            {% csrf_token %}
        <div class="form-error" style="color:red">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
            <button type="submit" class="btn btn-primary mb-3">Изменить</button>
            </div>
        </form>

{% endblock %}
