* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}

h1 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.date, .info {
    color: grey;
}

.comment:nth-child(even) {
    background-color: whitesmoke;
}

main, aside {
    display: inline-block;
    float: left;
    padding: 20px;
    height: 150%;
}

main {
    width: 70%;
}

aside {
    width: 30%;
    background-color: lightgrey;
    height: 100%
}

body aside p a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

body main h2 a:hover, p a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}